[Unit]
Description=wapp_file_manager

[Service]
Type=simple
User=1000
Group=1000
ExecStart=/usr/local/bin/gunicorn --chdir /srv/apps/wapp_file_manager -b 0.0.0.0:5000 -w 12 main:app

[Install]
WantedBy=multi-user.target