:root {
    --icon-size: 20px;
    font-size: 12px;
}

body, html {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

* {
    border-radius: 0px !important;
}

.message-box {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 400px;
    height: 100%;
}

.wrapper {
    position:absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: grid;
    grid-template-columns: 30px 300px 1fr 1fr;
}

.app-modes {
    
}

.app-modes > * {
    width: 100%;
}

.left-panel {
    height: 100%;
    max-height: 100%;
    display: grid;
    grid-template-rows: 30px 1fr;
}

.left-panel-list {
    overflow-y: scroll;
    height: 100%;
    max-height: calc(100vh - 30px);
}

.right-panel {
    border: 1px solid #eee;
    height: 100%;
    max-height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.right-panel-list {
    overflow-y: scroll;
    height: 100%;
    max-height: calc(50vh - 60px);
}

.preview-panel {
    height: 100%;
    max-height: 100%;
}

.tab-row {
    display: grid;
    grid-template-columns: 35px 1fr;
}

.tab-row>* {
    border-bottom: none !important;
}

.header {
    padding: 5px;
    background: #eee;
}

.dir-row {
    display: grid;
    grid-template-columns: 35px 1fr;
}

.dir-row>a>img {
    display: inline-block;
    width: var(--icon-size);
}

.dir-row>* {
    border-bottom: none !important;
}

.file-row {
    display: grid;
    grid-template-columns: 35px 1fr;
}

.file-row>a>img {
    display: inline-block;
    width: var(--icon-size);
}

.file-row>* {
    border-bottom: none !important;
}

.preview-panel iframe {
    width: 100%;
    height: 100%;
    border: 0px;
}

.nothing-found-row {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-weight: bold;
    background: #eee;
    padding: 10px
}

.rsync-wrapper {
    position:absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: grid;
    grid-template-columns: 300px 1fr 1fr;
}

.rsync-tabs-panel {
    border-right: 1px solid #eee;
}

.rsync-desc-panel {
    border-right: 1px solid #eee;
}

.rsync-output-panel {
    
}

.files-grouped {
    /* overflow-y: hidden; */
    display: grid;
    grid-template-columns: 100px 1fr;
}

.files-grouped-ext {
    width: 100px;
    overflow-y: scroll;
    height: calc(50vh - 60px)
}

.ext-row .list-group-item {
    border-bottom: none;
}

.file-row .list-group-item {
    word-break: break-all;
}

.files-grouped-files {
    overflow-y: scroll;
    height: calc(50vh - 60px)
}

.file-size {
    display: inline-block;
    width: 50px;
    color: rgba(0,0,0,0.5);
}

.file-full-path {
    color: rgba(150,150,150,0.5);
}

.active .file-size {
    color: rgba(255,255,255,0.5);
}

.active .file-full-path {
    color: rgba(255,255,255,0.5);
}