<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="/zip/static/jquery-3.6.2.js"></script>
    
    <script src="/zip/static/jquery.scrollTo.min.js"></script>

    <link rel="stylesheet" href="/zip/static/bootstrap-icons.css">

    <!-- CSS only -->
    <link href="/zip/static/bootstrap.min.css" rel="stylesheet">

    <!-- JavaScript Bundle with Popper -->
    <script src="/zip/static/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/zip/static/styles.css">

    <link rel="shortcut icon" href="/zip/static/favicon.png" type="image/png">
</head>
<body>