{% include "b_header.html" %}

<div class="container message-box">
    <form action="" method="get">

    Вы точно хотите удалить директории?

    <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-success" name="action" value="accept_clean_dirs" type="submit">OK</button>
        <button class="btn btn-danger" name="action" value="cancel" type="submit">Отмена</button>
    </div>

    <input type="hidden" id="sSelected" name="sSelected" value="{{sSelected}}" />

    </form>
</div>


{% include "b_footer.html" %}
