{% include "b_header.html" %}

    <div class="tabs-list">
        <div class="left-panel">
            <div class="btn-group" style="width:100%">
                <a href="/readme?sSelected={{ sSelected }}" class="btn btn-secondary" title="README" ><i class="bi bi-layout-text-window-reverse"></i></a>
                <a href="/tabs_add?sSelected={{ sSelected }}" class="btn btn-success" title="Создать" ><i class="bi bi-file-plus"></i></a>
                <a href="/tabs_remove?sSelected={{ sSelected }}" class="btn btn-danger" title="Удалить"><i class="bi bi-trash"></i></a>
                <a href="/tabs_clean?sSelected={{ sSelected }}" class="btn btn-danger" title="Очистить"><i class="bi bi-trash-fill"></i></a>
                <a href="/rsync" class="btn btn-info" title="rsync"><i class="bi bi-arrow-left-right"></i></i></a>
            </div>
            <div class="list-group left-panel-list">
                {% for oTab in aTabs %}
                    <div class="input-group tab-row">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" value="" name="tabs[{{oTab[0]}}]" />
                        </div>
                        <a 
                            class="list-group-item list-group-item-action {{ 'active' if oTab[0]|string == sSelected }} " 
                            href="?sSelected={{ oTab[0] }}"
                            {{ 'disabled="disabled"' if not aExitstsTabs[loop.index] }}
                        >
                            {{ oTab[1] }}
                            <br>
                            <small>{{ oTab[2] }}</small>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="right-panel">
            {% if sSelected %}
            <div class="right-panel-block">
                <form action="" method="get">
                    <input type="hidden" id="sSelected" name="sSelected" value="{{sSelected}}" />
                    <input type="hidden" id="sPath" name="sPath" value="{{sPath}}" />
                    <input type="hidden" id="sDir" name="sDir" value="{{sDir}}" />
                    <input type="hidden" id="sFile" name="sFile" value="{{sFile}}" />

                    <div class="header"><b>Директории:</b> {{sPath}}</div>
                    <div class="btn-group">
                        <a href="?sSelected={{sSelected}}&sDir=.." class="btn btn-secondary" aria-current="page"><i class="bi bi-arrow-left"></i></a>
                        <a href="?sSelected={{sSelected}}&sDir=.." class="btn btn-secondary" aria-current="page"><i class="bi bi-arrow-right"></i></a>
                        <a href="?sSelected={{sSelected}}&sDir=.." class="btn btn-secondary" aria-current="page"><i class="bi bi-arrow-up"></i></a>
                        <a href="{{sBaseURL}}" class="btn btn-primary" aria-current="page"><i class="bi bi-arrow-repeat"></i></a>
                        <button class="btn btn-success" type="submit" name="action" value="create_dir"><i class="bi bi-file-plus"></i></button>
                        <button class="btn btn-secondary" type="submit" name="action" value="copy_dir"><i class="bi bi-files"></i></button>
                        <button class="btn btn-danger" type="submit" name="action" value="remove_dir"><i class="bi bi-trash"></i></button>
                        <button class="btn btn-danger" type="submit" name="action" value="clean_dirs"><i class="bi bi-trash-fill"></i></button>
                    </div>
                    <div class="list-group right-panel-list dirs-list">
                        {% if aDirs|length == 0 %}
                        <div class="nothing-found-row">Ничего не найдено..</div>
                        {% endif %}
                        {% for sDir in aDirs %}
                            <div class="input-group dir-row">
                                <div class="input-group-text">
                                    <input class="form-check-input mt-0" type="checkbox" value="{{sDir}}" name="dirs[]" />
                                </div>
                                
                                <a 
                                    class="list-group-item list-group-item-action" 
                                    href="?sSelected={{sSelected}}&sDir={{sDir}}"
                                >
                                    {% include 'folder-item.html' %}
                                    {{ sDir }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </form>
            </div>
            <div class="right-panel-block">
                <form action="" method="get">
                    <input type="hidden" id="sSelected" name="sSelected" value="{{sSelected}}" />
                    <input type="hidden" id="sPath" name="sPath" value="{{sPath}}" />
                    <input type="hidden" id="sDir" name="sDir" value="{{sDir}}" />
                    <input type="hidden" id="sFile" name="sFile" value="{{sFile}}" />
                    <input type="hidden" id="sFileExt" name="sFileExt" value="{{sFileExt}}" />

                    <div class="header"><b>Файлы</b></div>
                    <div class="btn-group">
                        <a href="{{sBaseURL}}" class="btn btn-primary" aria-current="page"><i class="bi bi-arrow-repeat"></i></a>
                        <button class="btn btn-success" type="submit" name="action" value="create_file"><i class="bi bi-file-plus"></i></button>
                        <button class="btn btn-secondary" type="submit" name="action" value="copy_file"><i class="bi bi-files"></i></button>
                        <button class="btn btn-danger" type="submit" name="action" value="remove_file"><i class="bi bi-trash"></i></button>
                        <button class="btn btn-danger" type="submit" name="action" value="clean_files"><i class="bi bi-trash-fill"></i></button>
                        <button class="btn btn-secondary" type="submit" name="action" value="upload_files"><i class="bi bi-upload"></i></button>
                        <button class="btn btn-secondary" type="submit" name="action" value="download_files"><i class="bi bi-download"></i></button>
                        <a href="#" class="btn btn-secondary"><i class="bi bi-ui-checks-grid"></i></a>
                        <a href="#" class="btn btn-secondary"><i class="bi bi-ui-checks"></i></a>
                    </div>
                    <div class="list-group right-panel-list files-list">
                        {% if aFiles|length == 0 %}
                        <div class="nothing-found-row">Ничего не найдено..</div>
                        {% endif %}
                        <div class="files-grouped">
                            <div class="files-grouped-ext">
                                {% for sExt in oGroupedFiles %}
                                <div class="input-group ext-row">
                                    <a 
                                        class="list-group-item list-group-item-action {{ 'active' if sFileExt|string == sExt|string }}" 
                                        href="?sSelected={{sSelected}}&sFileExt={{sExt}}"
                                    >
                                        <div>{{ sExt }}</div>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="files-grouped-files">
                                {% for sFile in aFiles %}
                                <div class="input-group file-row">
                                    <div class="input-group-text">
                                        <input class="form-check-input mt-0" type="checkbox" value="{{sFile}}" name="files[]" />
                                    </div>
                                    <a 
                                        class="list-group-item list-group-item-action {{ 'active' if sFile == sCurFile }}" 
                                        href="?sSelected={{sSelected}}&sFileExt={{sFileExt}}&sFile={{sFile}}"
                                    >
                                        <div>{{ sFile }}</div>
                                        <small>{{ aFilesInfo[loop.index-1].human_size }}</small>
                                    </a>
                                </div>
                                {% endfor %}    
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
        <div class="preview-panel">
            <iframe name="preview" src="{{sPreviewURL}}" frameborder="0"></iframe>
        </div>
    </div>

    <script>
        $(document).ready(() => {
            $(".dirs-list").scrollTo($(".dirs-list .list-group-item.active"), {offset: {top:-100}})
            $(".files-list").scrollTo($(".files-list .list-group-item.active"), {offset: {top:-100}})
        })
    </script>
{% include "b_footer.html" %}