{% import "macros.html" as macros %}
{% include "b_header.html" %}

<form action="">

{{ macros.form_hidden_fields(oR.oArgs) }}

    <div class="wrapper">
        {% include "menu.html" %}
        <div class="left-panel">
            <div class="btn-group" style="width:100%">
                {{ macros.btn("tabs-add", "bi-file-plus", "btn-success", "Добавить вкладку") }}
                {{ macros.btn("tabs-remove", "bi-trash", "btn-danger", "Удалить вкладку") }}
            </div>
            <div class="list-group left-panel-list">
                {% for oTab in oR.aTabs %}
                    <div class="input-group tab-row">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" value="" name="tabs[{{oTab[0]}}]" />
                        </div>
                        <button type="submit" 
                            class="list-group-item list-group-item-action {{ 'active' if oTab[0]|string == sSelectTab }} " 
                            name="select-tab" value="{{ oTab.id }}"
                        >
                            {{ oTab.title }}
                            <br>
                            <small>{{ oTab.path }}</small>
                            <small>{{ oTab.selected_file }}</small>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="right-panel">
            {% if oR.sSelectTab %}
            <div class="right-panel-block">
                    <div class="header"><b>Директории:</b> {{oR.sPath}}</div>
                    <div class="btn-group">
                        {{ macros.btn("dir", "bi-arrow-left", "btn-secondary", "Назад", "..") }}
                        {{ macros.btn("dir", "bi-arrow-right", "btn-secondary", "Вперед", "..") }}
                        {{ macros.btn("dir", "bi-arrow-up", "btn-secondary", "Наверх", "..") }}
                        <a href="{{sBaseURL}}" class="btn btn-primary" aria-current="page"><i class="bi bi-arrow-repeat"></i></a>
                        {{ macros.btn("create-dir", "bi-file-plus", "btn-success", "Создать директорию", "..") }}
                        {{ macros.btn("copy-dir", "bi-file-plus", "btn-secondary", "Копировать директорию", "..") }}
                        {{ macros.btn("remove-dir", "bi-file-plus", "btn-danger", "Удалить директорию", "..") }}
                        {{ macros.btn("clean-dirs", "bi-file-plus", "btn-danger", "Очистить директорию", "..") }}
                    </div>
                    <div class="list-group right-panel-list dirs-list">
                        {% if oR.aDirs|length == 0 %}
                        <div class="nothing-found-row">Ничего не найдено..</div>
                        {% endif %}
                        {% for sItemDir in oR.aDirs %}
                            <div class="input-group dir-row">
                                <div class="input-group-text">
                                    <input class="form-check-input mt-0" type="checkbox" value="{{sItemDir}}" name="dirs[]" />
                                </div>
                                
                                <button type="submit"
                                    class="list-group-item list-group-item-action" 
                                    name="dir" value="{{sItemDir}}"
                                >
                                    <i class="bi bi-folder"></i>
                                    {{ sItemDir }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
            </div>
            <div class="right-panel-block">
                    <div class="header"><b>Файлы</b></div>
                    <div class="btn-group">
                        <a href="{{sBaseURL}}" class="btn btn-primary" aria-current="page"><i class="bi bi-arrow-repeat"></i></a>
                        {{ macros.btn("create-file", "bi-file-plus", "btn-success", "Создать файл") }}
                        {{ macros.btn("copy-file", "bi-files", "btn-secondary", "Копировать файл") }}
                        {{ macros.btn("remove-file", "bi-trash", "btn-danger", "Удалить файл") }}
                        {{ macros.btn("clean-file", "bi-file-plus", "btn-danger", "Очистить от файлов") }}
                        {{ macros.btn("upload-files", "bi-upload", "btn-success", "Загрузить на сервер") }}
                        {{ macros.btn("download-files", "bi-download", "btn-success", "Скачать с сервера") }}
                        <a href="#" class="btn btn-secondary"><i class="bi bi-ui-checks-grid"></i></a>
                        <a href="#" class="btn btn-secondary"><i class="bi bi-ui-checks"></i></a>
                    </div>
                    <div class="list-group right-panel-list files-list">
                        {% if oR.aFiles|length == 0 %}
                        <div class="nothing-found-row">Ничего не найдено..</div>
                        {% endif %}
                        <div class="files-grouped">
                            <div class="files-grouped-ext">
                                {% for sItemExt in oR.oGroupedFiles %}
                                <div class="input-group ext-row">
                                    <button 
                                        type="submit" name="file-ext" value="{{sItemExt}}"
                                        class="list-group-item list-group-item-action {{ 'active' if oR.sFileExt|string == sItemExt|string }}" 
                                    >
                                        <div>{{ sItemExt }}</div>
                                    </button>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="files-grouped-files">
                                {% for sItemFile in oR.aFiles %}
                                <div class="input-group file-row">
                                    <div class="input-group-text">
                                        <input class="form-check-input mt-0" type="checkbox" value="{{sItemFile}}" name="files[]" />
                                    </div>
                                    <button
                                        type="submit" name="file" value="{{sItemFile}}"
                                        class="list-group-item list-group-item-action {{ 'active' if sItemFile == oR.sFile }}" 
                                    >
                                        <div>{{ sItemFile }}</div>
                                        <small class="file-size">{{ oR.aFilesInfo[loop.index-1].human_size }}</small>
                                        <small class="file-full-path">{{ oR.sPath }}/{{ sItemFile }}</small>
                                    </button>
                                </div>
                                {% endfor %}    
                            </div>
                        </div>
                    </div>
            </div>
            {% endif %}
        </div>
        <div class="preview-panel">
            <iframe name="preview" src="{{oR.sPreviewURL}}" frameborder="0"></iframe>
        </div>
    </div>

    <script>
        $(document).ready(() => {
            $(".dirs-list").scrollTo($(".dirs-list .list-group-item.active"))
            $(".files-grouped-files").scrollTo($(".files-grouped-files .list-group-item.active"))
        })
    </script>

</form>

{% include "b_footer.html" %}